@import url('https://fonts.googleapis.com/css?family=Trykker&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #252525;
	font-size: 1.125rem;
}

main {
	margin: 3em auto;
	width: min(1024px, 100vw);
	padding: 1em;
}

a,
a:visited {
	color: #fff;
	text-decoration: none;
}

h1,
h2,
h3,
.navbar__item {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #FFBBEC;
}

nav {
	display: flex;
	justify-content: center;
	padding: .5em 0;
	background-color: #303030;
}

.navbar__item {
	margin: 0 3em;
	padding: 0.1em;
	font-size: 1.25em;
}

.navbar__item:hover {
	cursor: pointer;
}

.navbar__item:hover {
	color: rgb(68, 218, 255);
	transition: all linear 0.15s;
}

p {
	font-family: 'Trykker', serif;
}

.article__section__heading {
	margin-left: 3em;
}

.img_wrapper {
	margin: 1em auto;
	text-align: center;
}

.img_wrapper img {
	margin: 0 auto;
	display: block;
}

.img_wrapper span {
	display: inline-block;
	margin: 0.3em;
	padding: 0.3em 1em;
	/* background-image: linear-gradient(180deg, #A9C9FF77, #FFBBEC77); */
	border-bottom: 1px solid #FFBBEC;
	border-radius: .7em;
}

.modal {
	animation: all 1s linear;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	z-index: 1;
  	overflow: auto;
	background-color: #303030aa;
}
	
.modalContentWrapper {
	width: min(764px, 100vw);
	margin: min(100px, 10vw) auto;
	border-radius: 2em;
	background: rgb(29,19,57);
	background-image: linear-gradient(180deg, #A9C9FF55, #FFBBEC55);
}

.modalContent {
	padding: 2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
	padding: .3em;
	font-size: .9em;
	border-radius: 0.3em;
}

label {
	user-select: none;
}

.btn,
.btn:focus {
	background-image: linear-gradient(270deg, #A9C9FF, #FFBBEC);
	color: #fff;
	outline: none !important;
	border: none;
	cursor: pointer;
}

.roomBadge {
	padding: 1em .5em;
	margin: 1em auto;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	border: 4px solid #FFBBEC;
	border-radius: 3em;
	background-image: linear-gradient(270deg, #A9C9FF77, #FFBBEC77);
}
