@import url('https://fonts.googleapis.com/css?family=Trykker&display=swap');

:root {
	--accent:           #1b4ed0;
	--accent2:          #8d39c1;
	--background:       #171717;
	--background-alt:   #252525;
	--transparent-mask: #303030aa;
	--serif:              'Trykker', serif;
	--sans-serif:         'Segoe UI', Verdana, sans-serif;
	--mono:               'Courier New', Courier, monospace;
}

::-moz-selection {
	color:    #fff;
	background: var(--accent2);
}
  
::selection {
	color:    #fff;
	background: var(--accent2);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: var(--background);
	font-size: 1.125rem;
}

main {
	margin: 3em auto;
	width: min(1024px, 100vw);
	padding: 1em;
}

a,
a:visited {
	color: #fff;
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: var(--sans-serif);
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .75em 0;
	background-color: var(--accent);
}

.navbar__item {
	text-transform: uppercase;
	font-family: var(--sans-serif);
	color: #fff;
	padding: 0.4em;
	font-size: 1.25em;
	width: 225px;
	text-align: center;
}

@media only screen and (max-width: 920px) {
	nav {
		flex-direction: column;
	}

	.navbar__item {
		width: 100%;
		border-bottom: 3px solid #fff;
	}

	.navbar__item:last-child {
		border-bottom: none;
	}
}


.navbar__item:hover {
	cursor: pointer;
	text-shadow: .25px 0px .1px,
                -.25px 0px .1px;
	transition: text-shadow .3s;
}

p {
	font-family: var(--serif);
}

.article__section__heading {
	margin-left: 3em;
}

.img_wrapper {
	margin: 1em auto;
	text-align: center;
}

.img_wrapper img {
	margin: 0 auto;
	display: block;
}

.img_wrapper span {
	display: inline-block;
	margin: 0.5em;
	padding: 0.3em 1em;
	background-color: #1b4ed077;
	font-family: var(--mono);
	border-radius: .4em;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  	z-index: 1;
  	overflow: auto;
	background-color: var(--transparent-mask);
	display: none;
}

.modalContentWrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	max-height: 70vh;
	overflow: scroll;
	width: min(764px, 100vw);
	/* margin: min(100px, 10vw) auto; */
	border: 3px solid #fff;
	background-color: var(--background);
	text-align: center;
}

.modalHeading {
	font-size: 1.4em;
	font-family: var(--sans-serif);
}

.modalContent {
	padding: 2em;
	font-family: var(--sans-serif);
}

input {
	padding: .3em;
	font-size: .9em;
	border-radius: 0.3em;
}

label {
	user-select: none;
}

.btn,
.btn:focus {
	background-image: var(--accent);
	outline: none !important;
	border: none;
	cursor: pointer;
	padding: .3em .7em;
	border-radius: 5px;
}

.rooms {
	padding: 1.5em;
}

.roomBadge {
	padding: 1em .5em;
	margin: 1em auto;
	text-align: center;
	font-size: 1.2em;
	font-weight: 400;
	border: 2px solid #fff;
	background-color: var(--background-alt);
}

.roomBadge:hover {
	background-color: var(--accent);
}
