.playerStatus {
	margin: .7em !important;
	text-align: center;
}

.playerName {
	font-style: italic;
	font-weight: bold;
}

.playerScore {
	color: var(--accent2);
	font-size: 1.5em;
	font-family: var(--mono);
	font-weight: 700;
}

.playerImage {
	width: 156px;
	height: 128px;
}

.questionField {
	color: var(--accent);
}

.spectators {
	user-select: none;
	padding: .3em 2em;
}

.gameField {
	margin: 5em 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 920px) {
	.gameField {
		flex-direction: column;
	}
}

.gameField div {
	margin: auto 0;
}

.question {
	width: min(1024px, 100vw);
	margin: 5em auto;
	border: 3px solid #fff;
	background: var(--background);
}

#questionQuestion {
	margin: 3em 0;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 1.2em;
	user-select: none;
}

.questionFields div {
	user-select: none;
	text-align: center;
	padding: 0.7em;
	flex-grow: 1;
	width: 47%;
	margin: 1.5%;
	border: 3px solid #fff;
	color: #fff;
}

.questionFields div:hover {
	background-color: var(--accent2);
	cursor: pointer;
}	


@media only screen and (max-width: 500px) {
	.questionFields div {
		width: 100% !important;
	}
}

.questionFields {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.questionField {
	font-family: var(--sans-serif);
}

#currentEvent {
	width: 100%;
	text-align: center;
	font-size: 1.125em;
	font-style: italic;
	margin-top: 2.5em;
}

.loaderWrapper {
	width: 100%;
}

.loaderWrapper {
	width: 70%;
	margin: 1em auto;
}

.loaderBg {
	border-radius: 1em;
	width: 75%;
	margin: 0 auto;
	background: var(--background-alt);
}

#loader {
	border-radius: 1em;
	background-color: var(--accent);
	margin: 0 auto;
	height: 1em;
}

@keyframes loader-animation {
	0% {
		width: 100%;
	}
	100% {
		width: 0
	}
}

.grayscale {
	filter: grayscale(100%);
}

#answerModal, .scoreboardWrapper {
	background-color: #000000dd;
	transition: background-color 2s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.scoreboardWrapper {
	justify-content: center;
	align-items: center;
}

#scoreboard {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	place-items: center;
    transform: translate(-50%, -50%);
	width: min(40em, 100vh);
	text-align: center;
}

.scoreboardPlayerField {
	display: flex;
	justify-content: space-around;
}

.scoreboardHeading {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0.3em;
}
